#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans -

In [1]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Printing the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

# Creating a list variable
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Converting the list to a Pandas Series
my_series = pd.Series(my_list)

# Printing the Series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:
#### Name     Age     Gender
#### Alice        25       Female
#### Bob         30       Male
#### Claire      27       Female
#### Then, print the DataFrame.

In [3]:
import pandas as pd

# Creating a dictionary with the given data
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

# Converting the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans -
In Pandas, a DataFrame is a two-dimensional labeled data structure that is used to store and manipulate tabular data. It is similar to a spreadsheet or SQL table, where the data is organized in rows and columns. Each column in a DataFrame can have a different data type, such as numeric, string, or boolean, and can have a label or name associated with it.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type, such as integers, strings, or floats. A Series can be thought of as a single column of a DataFrame, where the values are indexed by a unique label.

In [5]:
import pandas as pd

# Creating a Series
my_series = pd.Series([10, 20, 30, 40, 50])

# Creating a DataFrame
my_dataframe = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']})

# Printing the Series
print(my_series)

# Printing the DataFrame
print(my_dataframe)

0    10
1    20
2    30
3    40
4    50
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans -
1. head() and tail() - These functions are used to view the top or bottom rows of a DataFrame.

In [6]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Using head()
print(df.head())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

2. describe() - This function is used to view some basic statistical information about a DataFrame, such as mean, standard deviation, minimum, and maximum values.

In [7]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Using describe()
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

3. sort_values() - This function is used to sort a DataFrame by one or more columns.

In [8]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Sorting by age in ascending order
df_sorted = df.sort_values(by='Age')

# Printing the sorted DataFrame
print(df_sorted)

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans - In Pandas, both Series and DataFrame are mutable in nature, which means their contents can be modified after they are created. However, Panel is no longer recommended for use as it has been deprecated since version 0.25.0 and replaced with MultiIndex or xarray.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans -

In [10]:
import pandas as pd

# Creating multiple Series
name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {'Name': name, 'Age': age, 'Gender': gender}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we created three Series for name, age, and gender, each containing three elements. Then, we passed these Series as a dictionary to the pd.DataFrame() constructor to create a DataFrame with the same data. Finally, we printed the DataFrame to verify that it was created correctly.